<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly"content="True">
    <meta name="MobileOpyimized"content="320">
    <meta name="viewport"content="width=divice-width,initial-scale=1,maximum-scale=1">
    <meta name="keywords"content="健身,运动,锻炼,健康生活">
    <meta http-equiv="cleartype"content="on">
    <meta name="format-detection"content="telephone=on">
    <meta name="desription"content="Keep 是一款具有社交属性的健身工具类产品。用户可以利用碎片化的时间，随时随地选择适合自己的健身课程进行真人同步训练。健身计划针对不同人群、各种器械和阶段健身目标组合编排，适用于最广泛的健身场景。训练完成后还可将成果分享到社区和社交网络，结识同样热爱运动的朋友，让健身不再是孤独的坚持">
    <title>Keep | 移动健身教练 - Time for change 只为改变</title>
    <link rel="stylesheet" href="../styles/css/main.css">
</head>
<body>
<div class="hero indexHero">
    <div class="header">
     <div class="content">
         <h1 class="logo">Keeper</h1>
         <div class="nav">
             <ul>
                 <li>
                     <a href="#"class="active">首页</a>
                 </li>
                 <li>
                     <a href="#">加入我们</a>
                 </li>
                 <li>
                     <a href="#">联系我们</a>
                 </li>
             </ul>
         </div>
     </div>
    </div>
    <div class="container">
        <div class="slogan">
            <h2 class="slogan-title">只为改变
                <br>
                <div class="span en">Time For Change</div>
            </h2>
            <p class="intro">Keep 一个移动健身社区<br>24 小时移动健身教练，带你突破运动极限</p>
            <div class="download">
             <div class="left">
                 <div id="ios-dl" class="dl">
                    <img src="../images/iOS.png"/>
                 </div>
                 <div id="android-dl"class="dl">
                     <img src="../images/Android.png"></a>
                 </div>
             </div>
             <div class="qr-code ">
               <img src="../images/keep-qr.png">
             </div>
            </div>
        </div>
    </div>
</div>
<div id="mainbody">
   <div class="feature feature-1">
       <div class="feature-content ">
           <div class="feature-wording right">
               <h3 class="feature-title">量体裁衣<br>多种健身训练<br>供你选择</h3>
               <p class="feature-desc">训练计划针对不同人群、各种器械和阶段健身目标组合编排，适用最广泛的健身场景。</p>
           </div>
       </div>
   </div>
    <div class="feature feature-1">
        <div class="feature-content ">
            <div class="feature-wording right">
                <h3 class="feature-title">量体裁衣<br>多种健身训练<br>供你选择</h3>
                <p class="feature-desc">训练计划针对不同人群、各种器械和阶段健身目标组合编排，适用最广泛的健身场景。</p>
            </div>
        </div>
    </div>
    <div class="feature feature-1">
        <div class="feature-content ">
            <div class="feature-wording right">
                <h3 class="feature-title">量体裁衣<br>多种健身训练<br>供你选择</h3>
                <p class="feature-desc">训练计划针对不同人群、各种器械和阶段健身目标组合编排，适用最广泛的健身场景。</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
   <ul>
       <li>
           <a href="http://localhost:8100/服务条款/views/index.html">服务条款</a>
       </li>
       <li>
           <a href="#">隐私条款</a>
       </li>
       <li>
           <a href="#">社区规范</a>
       </li>
       <li>
           <a href="#">加入我们</a>
       </li>
       <li>
           <a href="#">联系我们</a>
       </li>
   </ul>
    <div class="copyright">www.gotokeep.com 2014-2015 © All Rights Reserved. 京ICP备14051192号</div>
</div>
</body>
</html>